<section class="main-title-section-wrapper ">
    <div class="main-title-section-container d-flex justify-content-center align-items-center ">
        <div class="container text-center">
            <div class="main-title-section pb-2">
                <h1>من نحــن؟</h1>
            </div>
            <div class="breadcrumb text-center m-auto d-flex justify-content-center align-items-center ">
                <a routerLink="/home">الرئيسية </a>
                <span class="breadcrumb-default-delimiter px-2"> / </span>
                <span class="current"> عن الشركة</span>
            </div>
        </div>
    </div>
    <div class="main-title-section-bg"></div>
</section>

<section class="FQ pt-5 ">
    <div class="section-con ">
        <div class="container ">
            <div class="row ">
                <div class="d-flex justify-content-center align-items-center py-5">
                    <div class="col-md-12">
                        <div class="content">
                            <h6 class="text-main p-3">الثقة والامان </h6>
                            <h2 data-bigletter="FAQ " class="hero-heading p-3">نحن من افضل الشركات الرائدة فى مجال شراء المعدات</h2>
                        </div>
                    </div>
                    
                </div>
    
            </div>
            <div class="row ">
              <div class="d-flex justify-content-center align-items-center py-5">
                  
                  <div class="col-md-12">
                      <div>
                         
                              <p class="px-5 text-main-light">يمكنك الاعتماد علينا فى شراء معدات مطاعم وكوفى شوب مستعملة بالرياض .
                                  وبافضل سعر مقارنتا بالكثير من الشركات الاخرى فنحن لدينا افضل المهندسين المتخصصين فى فحص المعدات ،
                                  وتقييمها بافضل سعر مهما كانت حالتها اطلبنا ولا تتردد .
                                  </p> 
                      </div>
                  </div>
              </div>
  
          </div>
  
            
        </div>
      
    </div>
    <ul id="nav">
      <div class="row">
        <div class="col-md-1 ps-5">
          <div class="ship"></div>
        </div>
        <div class="col-md-10">
          <li><a class="heading w-50 p-3">شراء مجالس مستعملة
              <i class="fas fa-angle-down  ps-3 "></i></a>
            <ul>
              <li>
                <p class="p-3">تعد المجالس من اكثر الاماكن استخداما  ،
                    وتختلف اشكالها وخاماتها وجودتها ،
                    فنحن نقوم بشراء المجالس المستعملة ،
                    و التى لم يعد لعملائنا الحاجة اليها ،
                    سواء مجالس رجال ، مجالس نسائية ، ارضية ،
                     و غيرها من انواعها المختلفة ،
                    فنحن نقوم بشرائها مهما كانت حالتها ،
                     من خلال فنين يقوموا بتقييمه،
                     وعرض افضل سعر لها لعملائنا الكرام ,
                    </p>
              </li>
            </ul>
          </li>
  
          <li><a class="heading w-50 p-3 pb-5">شراء اجهزة كهربائية مستعملة
  
              <i class="fas fa-angle-down ps-3"></i></a>
            <ul>
              <li>
                <p class="p-3">اذا كنت تبحث عن شركة متخصصة ،
                    تخلصك من اجهزتك المنزلية ،
                    بافضل سعر دون الخسارة ،
                    يمكننا فعل ذلك  فقط كل ما عليك فعله هو التواصل معنا ،
                    وسيصلك فريق عمل مدرب ومجهز ،
                     ومهندسين متخصصين فى فحصها ،
                    بالاضافة الى سيارات مجهزة لنقل كافة الاعراض التى ترغب فى بيعها ،
                    كل ذلك على مدار 24 ساعة  ،
                    فنحن لا نحملك اى اعباء .
                     </p>
              </li>
            </ul>
          </li>
          <li><a class="heading w-50 p-3">شراء غرف نوم مستعملة

              <i class="fas fa-angle-down  ps-3 "></i></a>
            <ul>
              <li>
                <p class="p-3">نقوم بشراء غرف النوم بكل اشكالها المختلفة ،
                    سواء كانت الكلاسيكية و المودرن و غرف ايكيا ،
                    سنقوم بتقييم الغرف بامانة ،
                    و ستحصل على اعلى عائد مقابل الغرف مهما كانت حالتها  ،
                    فنحن نقدم افضل سعر فى الغرفة  ،
                    فنحن الشركة التى يبحث كل عميل عنها ،
                     يمكنك الاعتماد علينا  .
                    
                </p>
              </li>
            </ul>
          </li>
          <li><a class="heading w-50 p-3">شراء مطابخ مستعملة<i
                class="fas fa-angle-down  ps-3 "></i></a>
            <ul>
              <li>
                <p class="p-3">نقوم بشراء المطابخ بمختلف خامتها المتعددة ،
                    والتى لا تخلو فى منزل والاكثر استخداما ،
                    لذلك يحتاج الكثير من العملاء ،
                    و القيام بتجديدها كل فترة لذلك فنحن نوفر ذلك ،
                    كل ذلك يقدم بمنتهى المصداقية والالتزام ،
                    لتوفير الوقت والجهد لكل عملائنا الاعزاء ،
                     سارع بطلب الخدمة .
                    </p>
              </li>
            </ul>
          </li>
          
    
        </div>
      </div>
  
  
    </ul>
  
  </section>

  