<section class="my-5">
    <div class="container ">
        <div class="row ">
                <div class=" col-lg-6">
                    <div class="content ">
                        <h6 class="text-main">شركة المـــودة</h6>
                        <h1 class="py-3"> لشراء معدات المطاعم والأثاث المستعمل بالرياض
                        </h1>
                    </div>
                </div>
                <div class=" col-lg-6 ">
                    <div class="">
                        <p class="p-2 text-second">
                            .إذا كنت تخطط لتجديد منزلك أو مطعمك وتحديثه فاليك شركتنا شركة الموده لشراء غرف النوم
                            والاجهزه المنزليه والافران المستعملة </p>
                    </div>
                </div>

        </div>

        <div class="element-img py-5">
            <img src="./assets/home-hotspot-img-1-1536x560.jpg" alt="" class="card-img fixed">
            <div class="wrapper" routerLink="/services">
                
                <div class="circle pulse"></div>
                <div class="circle">
                    <i  class="fa-solid fa-plus"></i>
                </div>
            </div>
            <div class="wrapper1 " routerLink="/services">
                <div class="circle pulse"></div>
                <div class="circle" routerLink="services">
                    <i class="fa-solid fa-plus "></i>
                </div>
            </div>
            <div class="wrapper2 " routerLink="/services">
                <div class="circle pulse"></div>
                <div class="circle">
                    <i class="fa-solid fa-plus "></i>
                </div>
            </div>
        </div>

        <div class="portfolio">
            <div class="row">
                <div class="col-lg-6">

                    <h2 class="py-3 text-big">كل ما تحتاجه لدينا </h2>
                    <p class=" text-second">
                        يمكنك الاعتماد علينا فى شراء معدات مطاعم وكوفى شوب مستعملة بالرياض وبافضل سعر مقارنتا بالكثير من
                        الشركات الاخرى فنحن لدينا افضل المهندسين المتخصصين فى فحص المعدات.
                    </p>
                    <div class="card-body-icon py-3">
                        <a target="_blank"
                        href="https://wa.me/0557882072"                        class="text-white bg-[#d28009] hover:bg-[#d28009]/80 focus:ring-4 focus:outline-none focus:ring-[#d28009]/50 font-medium rounded-lg text-sm px-3 py-2.5 text-center inline-flex items-center dark:hover:bg-[#d28009]/80 dark:focus:ring-[#d28009]/40 me-1 mb-1"
                        >  
                        واتس
                        أب <i class="fa-brands fa-whatsapp p-1"></i></a>                  
                      </div>
                </div>
                <div class=" col-lg-3">
                    <div class="card box-shadow-gray border-0 rounded-0 mb-5">
                        <div class="card-img">
                            <img src="../../../assets/pexels-rachel-claire-5490829.jpg" class="card-img w-100">
                        </div>

                    </div>
                </div>
                
                <div class=" col-lg-3">
                    <div class="card box-shadow-gray border-0 rounded-0 mb-5">
                        <div class="card-img">
                            <img src="../../../assets/pexels-curtis-adams-1694007-11125381.jpg" class="card-img-top w-100">
                        </div>

                    </div>
                </div>
             
            </div>

        </div>
    </div>

</section>


<section class="our-services mb-5" >
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
             <div class="our-services-term ">
                <div class="before-hover-container"></div>

                <i class="fas fa-pencil-ruler text-color-pink "></i>

                <h3>أفضل الخدمات </h3>
                <p>شراء معدات وكافيهات مستعملة بالرياض . لذلك لا تتردد فنحن نوفر كافة المعدات المختلفة التي لا غنى عنها
                    في اي مطعم او فندق ، لذلك نوفر كل المطاعم ومحلات الكوفي شوب على مدار الـ 24 ساعة. </p>
            </div>
             </div>
                
            <div class="col-lg-3">
              <div class="our-services-term">
                <div class="before-hover-container"></div>

                <i class="fa-solid fa-hand-holding-dollar "></i>
                <h3>أسعار مميزة</h3>
                <p>اليوم نحن نقدم خدمة لشراء

                    المعدات المستعملة ، سواء

                    المطعم للوجبات السريعة أو

                    مطعم كبير . علاوة على ذلك ، على مستوى المملكة العربية السعودية ، وهذا سيسمح لك بشرائه بسعر مناسب
                    للجميع .

                    لذلك نقدم أسعار تنافسية غير مسبوقة على مستوى الرياض. </p>
              </div>
                
            </div>

            <div class="col-lg-3">
                <div class="our-services-term">
                    <div class="before-hover-container"></div>

                <i class="fas fa-chart-line text-color-pink "></i>
                <h3>عمالة مدربة</h3>
                <p>توفر الشركة دائما موظفين

                    مؤهلين تأهيلا عاليا

                    ومستعدين لتشغيل المعدات باحتراف كامل وتفكيكها

                    وتثبيتها في الموقع . وكل هذا باستخدام أفضل

                    التقنيات الحديثة .

                    وبالتالي ، يمكننا تقديم جميع الخدمات اللازمة لشراء معدات

                    المطاعم المستعملة في الرياض.</p>
                </div>
                
            </div>

            <div class="col-lg-3">
                <div class="our-services-term">
                    <div class="before-hover-container"></div>

                <i class="fa-solid fa-tag "></i>
                                <h3>خبـــــرة</h3>
                <p>من الآن فصاعدا ، إنها مسؤوليتنا ، والجميع يريد ترقية معدات وأدوات المطاعم

                    الخاصة بهم.

                    خاصة مع انتشار فكرة إنشاء مطعم للوجبات السريعة ، يريد الجميع إثبات أنفسهم ، لذلك

                    من الضروري إجراء تحديث. لدينا خبرة واسعة في توفير جميع المعدات اللازمة لعملائنا

                    الكرام.</p>
                </div>
                
            </div>
        </div>

    </div>
</section>

<app-marquee></app-marquee>

<section class="">
    <!-- Image Grid -->
    <div class="container">
        <div class="row ">

            <div class="col-lg-6 ">
                <div class="hero-section  text-md-end">
                    <div class="container">
                        <h1 class="hero-heading pb-2">لماذا تختار شركة المودة لشراء معدات المطاعم والاثاث المستعمله
                            بالرياض؟</h1>

                        <p class="subtext">
                            نحن متخصصون في شراء معدات المطاعم المستعملة من أفضل شركة يمكنك الاعتماد عليها عند شراء
                            معداتك المستعملة.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img py-2">
                        <img src="../../../assets/Home-1-Section-2-01.jpg" alt="Outdoor Design" class="card-img w-100">
    
                    </div>
                </div>
                

            </div>

            <div class="col-lg-6 ">
              <div class="card">
                <div class="card-img py-2">
                    <img src="../../../assets/Home-1-Section-2-02.jpg" alt="Outdoor Design" class="card-img ">
    
                   </div>
              </div>
               
                <div class="hero-section  text-md-end">
                    <div class="container">
                        <h1 class="hero-heading py-2">شراء بأعلى سعر في الرياض</h1>

                        <p class="subtext">
                            يمكنك الاستفادة من خدمة شراء المعدات المستعملة دون القلق ،
                            بغض النظر عن الكمية أو الحجم أو المواصفات. نحن دائمًا على استعداد لمساعدتك.

                        </p>

                    </div>
                </div>
            </div>
            

        </div>

    </div>

</section>

<section class="portfolio">
    <div class="container my-3">
        <div class="row p-5 images">
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/4f4ba219ce27d8da95e2905e8aeb5376.jpg" alt="" id="myImg" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" >
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/pexels-fotoaibe-1669799.jpg" id="myImg" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" >
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/8731310d3818c0ca87e877d4d3a523af.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" >
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/db5948e2e2895a97da8b5475f3ec41d2.jpg" alt="" class="w-100 img-backcard-img card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" >
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/44b5af843e26ee05f83756581c6759cc.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" >
                        <h2> المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/pexels-heyho-7195553.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" >
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
           
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/6fef0f10e4b043be4db20b0813951e14.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" >
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/a772b103c131b50327edd3d1ac017e9a.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" >
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/343346b9bd22a0f3424fbc59cb73c37c.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" >
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
        </div>

    </div>
</section>

