<div class="wrapper type2 wdt-dark-bg">
    <div class="container-fluid">
        <div class="center-content-wrapper">
            <div class="center-content">
                <div class="error-box square">
                    <div class="error-box-inner m-auto text-center ">
                        <h2 >404</h2>
                        <h4>Oops! The Page Not Found.</h4>
                      
                        <a routerLink="/home"
                        class="text-white bg-[#d28009] hover:bg-[#d28009]/80 focus:ring-4 focus:outline-none focus:ring-[#d28009]/50 font-medium rounded-lg text-sm px-3 py-2.5 text-center inline-flex items-center dark:hover:bg-[#d28009]/80 dark:focus:ring-[#d28009]/40 me-1 mb-1"
                        >العــودة الى الرئيسية
                </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>