<section class="main-title-section-wrapper ">
    <div class="main-title-section-container d-flex justify-content-center align-items-center ">
        <div class="container text-center">
            <div class="main-title-section pb-2">
                <h1>خدمـــــاتنا</h1>
            </div>
            <div class="breadcrumb text-center m-auto d-flex justify-content-center align-items-center ">
                <a routerLink="/home">الرئيسية </a>
                <span class="breadcrumb-default-delimiter px-2"> / </span>
                <span class="current"> خدماتنا</span>
            </div>
        </div>
    </div>
    <div class="main-title-section-bg"></div>
</section>


<section class="our-services mb-5" >
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
             <div class="our-services-term ">
                <div class="before-hover-container"></div>

                <i class="fas fa-pencil-ruler text-color-pink "></i>

                <h3>أفضل الخدمات </h3>
                <p>شراء معدات وكافيهات مستعملة بالرياض . لذلك لا تتردد فنحن نوفر كافة المعدات المختلفة التي لا غنى عنها
                    في اي مطعم او فندق ، لذلك نوفر كل المطاعم ومحلات الكوفي شوب على مدار الـ 24 ساعة. </p>
            </div>
             </div>
                
            <div class="col-lg-3">
              <div class="our-services-term">
                <div class="before-hover-container"></div>

                <i class="fa-solid fa-hand-holding-dollar "></i>
                <h3>أسعار مميزة</h3>
                <p>اليوم نحن نقدم خدمة لشراء

                    المعدات المستعملة ، سواء

                    المطعم للوجبات السريعة أو

                    مطعم كبير . علاوة على ذلك ، على مستوى المملكة العربية السعودية ، وهذا سيسمح لك بشرائه بسعر مناسب
                    للجميع .

                    لذلك نقدم أسعار تنافسية غير مسبوقة على مستوى الرياض. </p>
              </div>
                
            </div>

            <div class="col-lg-3">
                <div class="our-services-term">
                    <div class="before-hover-container"></div>

                <i class="fas fa-chart-line text-color-pink "></i>
                <h3>عمالة مدربة</h3>
                <p>توفر الشركة دائما موظفين

                    مؤهلين تأهيلا عاليا

                    ومستعدين لتشغيل المعدات باحتراف كامل وتفكيكها

                    وتثبيتها في الموقع . وكل هذا باستخدام أفضل

                    التقنيات الحديثة .

                    وبالتالي ، يمكننا تقديم جميع الخدمات اللازمة لشراء معدات

                    المطاعم المستعملة في الرياض.</p>
                </div>
                
            </div>

            <div class="col-lg-3">
                <div class="our-services-term">
                    <div class="before-hover-container"></div>

                <i class="fa-solid fa-tag "></i>
                                <h3>خبـــــرة</h3>
                <p>من الآن فصاعدا ، إنها مسؤوليتنا ، والجميع يريد ترقية معدات وأدوات المطاعم

                    الخاصة بهم.

                    خاصة مع انتشار فكرة إنشاء مطعم للوجبات السريعة ، يريد الجميع إثبات أنفسهم ، لذلك

                    من الضروري إجراء تحديث. لدينا خبرة واسعة في توفير جميع المعدات اللازمة لعملائنا

                    الكرام.</p>
                </div>
                
            </div>
        </div>

    </div>
</section>
<section class="portfolio">
    <div class="container my-5">
        <div class="row p-5">
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/4f4ba219ce27d8da95e2905e8aeb5376.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/2.png" alt="" class="w-25">
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/pexels-fotoaibe-1669799.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/2.png" alt="" class="w-25">
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/8731310d3818c0ca87e877d4d3a523af.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/2.png" alt="" class="w-25">
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/db5948e2e2895a97da8b5475f3ec41d2.jpg" alt="" class="w-100 img-backcard-img card-img">
                    <div class="caption-item">
                        <img src="../../assets/2.png" alt="" class="w-25">
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/44b5af843e26ee05f83756581c6759cc.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/2.png" alt="" class="w-25">
                        <h2> المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/pexels-heyho-7195553.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/2.png" alt="" class="w-25">
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
           
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/6fef0f10e4b043be4db20b0813951e14.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/2.png" alt="" class="w-25">
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/a772b103c131b50327edd3d1ac017e9a.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/2.png" alt="" class="w-25">
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/343346b9bd22a0f3424fbc59cb73c37c.jpg" alt="" class="w-100 img-back">
                    <div class="caption-item">
                        <img src="../../assets/2.png" alt="" class="w-25">
                        <h2>المــــودة</h2>
                        <p>الثقة والامان </p>
                        <h5>شركة لبيع أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
        </div>

    </div>
</section>
