<section class="main-title-section-wrapper ">
    <div class="main-title-section-container d-flex justify-content-center align-items-center ">
        <div class="container text-center">
            <div class="main-title-section pb-2">
                <h1>اتصل بنا </h1>
            </div>
            <div class="breadcrumb text-center m-auto d-flex justify-content-center align-items-center ">
                <a routerLink="/home">الرئيسية </a>
                <span class="breadcrumb-default-delimiter px-2"> / </span>
                <span class="current"> تواصل معنا</span>
            </div>
        </div>
    </div>
    <div class="main-title-section-bg"></div>
</section>




    <section class="our-services my-5 ">
        <div class="container ">
            <div class="row">
                <div class="col-md-4 p-4">


                    <h5>تواصل معنا </h5>
                    <ul class="list-unstyled">

                        <li>+0557882072</li>

                    </ul>
                </div>

                <div class="col-md-4 p-4">

                    <h5>العنوان</h5>
                    <ul class="list-unstyled">
                        <li>المملكة العربية السعودية , الرياض

                        </li>

                    </ul>
                </div>

                <div class="col-md-4 p-4">


                    <h5>البريد الالكتروني</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="text-decoration-none d-block text-white">sales&copy;mawda-sa.com</a>
                        </li>
                    </ul>
                </div>


            </div>

        </div>
    </section>
