<!-- <div class="footer">

    <div id="button"></div>
    <div id="container">
        <div class="cont">
            <i class="fas fa-angle-up "></i>        </div>
        <div class="d-flex justify-content-around align-items-center ">
            <div class="main-footer-term my-5 text-center ">
                <h5>تواصل معنا </h5>
                <ul class="list-unstyled ">

                    <li>+0557882072</li>

                </ul>
            </div>
            <div class="main-footer-term text-center my-5">
                <h5>العنوان</h5>
                <ul class="list-unstyled ">
                    <li>المملكة العربية السعودية , الرياض

                    </li>

                </ul>
            </div>
            <div class="main-footer-term text-center  my-5">
                <h5>البريد الالكتروني</h5>
                <ul class="list-unstyled ">
                    <li>
                        <a href="#" class="text-decoration-none d-block">sales&copy;mawda-sa.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

<section class="Home">
    <div class="up-arrow">
        <a target="_blank"
             href="https://wa.me/0557882072"
             ><i class="fa-brands fa-whatsapp "></i></a>
      </div>
      
</section>

<div class="second-footer">
   
    <div class="container">
        <div class="to-top-btn d-flex align-items-center justify-content-center">
            <a id="scrollTop" (click)="scrollTop()" class="text-decoration-none">
                <i class="fas fa-chevron-up text-main"></i>
            </a>
        </div>
        <div class="flex justify-center p-3">
            <img src="../../../assets/logo png.png" class="w-25">

        </div>
         <div>
            <p>
                المملكة العربية السعودية , الرياض
                
              </p>
         </div>
          <div class="footer-icons py-4">
             <a target="_blank"
             href="https://wa.me/0557882072"
             >0557882072+<i class="fa-brands fa-whatsapp icon p-2"></i></a>
             <a target="_blank" href="https://mail.google.com">sales&commat;mawda-sa.com<i class="fab fa-google-plus-g icon p-2"></i></a>
            
          </div>
    </div>
  </div>