<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-transparent pt-2">
    <a class="navbar-brand pr-5 " routerLink="home">
        <img src="../../../assets/1.png" alt="المودة" class=""></a>


    <div class=" navbar-collapse d-flex justify-content-between " id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home">الرئيسية <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about">عن الشركة</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="services">خدماتنا</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact">اتصل بنا</a>
            </li>



        </ul>
        <ul>
            <li class="ps-5 ">
                <div class="card-body-icon">
                    <a target="_blank"
                        href="https://api.whatsapp.com/send?phone=0557882072&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."
                        class="text-white bg-[#d28009] hover:bg-[#d28009]/80 focus:ring-4 focus:outline-none focus:ring-[#d28009]/50 font-medium rounded-lg text-sm px-3 py-2.5 text-center inline-flex items-center dark:hover:bg-[#d28009]/80 dark:focus:ring-[#d28009]/40 me-1 mb-1">واتس
                        أب </a>
                </div>

            </li>
        </ul>
    </div>
</nav> -->




<nav class="bg-transparent ">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3">
        <a routerLink="home" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="../../../assets/1.png" class="w-20" alt="المودة" />
            <!-- <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">شركة المودة</span> -->
        </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <div class="card-body-icon">
            <a target="_blank"
            href="https://wa.me/0557882072"
                            class="text-white bg-[#d28009] hover:bg-[#d28009]/80 focus:ring-4 focus:outline-none focus:ring-[#d28009]/50 font-medium rounded-lg text-sm px-3 py-2.5 text-center inline-flex items-center dark:hover:bg-[#d28009]/80 dark:focus:ring-[#d28009]/40 me-1 mb-1"
                >  
                واتس
                أب <i class="fa-brands fa-whatsapp p-1"></i></a>
        </div>
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center justify-between p-2 w-10 h-10 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
        <ul
        class="tex bg-transparent font-medium flex flex-col p-4 md:p-0  bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0  dark:border-gray-700">
       
        <li class="text-center tex">
            <a class="text-center px-2 text-gray-100 rounded md:hover:bg-transparent md:hover:text-gray-300 md:p-0 md:dark:hover:text-gray-300 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            aria-current="page" routerLink="home">الرئيسية <span class="sr-only">(current)</span></a>
        </li>
        <li class="text-center tex">
            <a class="text-center px-2 text-gray-100 rounded md:hover:bg-transparent md:hover:text-gray-300 md:p-0 md:dark:hover:text-gray-300 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                 routerLink="about">عن الشركة</a>
        </li>
        <li class="text-center tex">
            <a class="text-center px-2 text-gray-100 rounded md:hover:bg-transparent md:hover:text-gray-300 md:p-0 md:dark:hover:text-gray-300 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                 routerLink="services">خدماتنا</a>
        </li>
        <li class="text-center tex">
            <a class="text-center px-2 text-gray-100 rounded md:hover:bg-transparent md:hover:text-gray-300 md:p-0 md:dark:hover:text-gray-300 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                 routerLink="contact">اتصل بنا</a>
        </li>
    </ul>
    </div>
    </div>
  </nav>
  