<div class="marquee my-5">
    <span>إذا كنت تخطط لتجديد منزلك أو مطعمك وتحديثه فاليك شركتنا شركة الموده لشراء غرف النوم والاجهزه المنزليه والافران المستعملة  
&nbsp;</span>
    <span>إذا كنت تخطط لتجديد منزلك أو مطعمك وتحديثه فاليك شركتنا شركة الموده لشراء غرف النوم والاجهزه المنزليه والافران المستعملة  
&nbsp;</span>
    <span>إذا كنت تخطط لتجديد منزلك أو مطعمك وتحديثه فاليك شركتنا شركة الموده لشراء غرف النوم والاجهزه المنزليه والافران المستعملة  
&nbsp;</span>
    <span>إذا كنت تخطط لتجديد منزلك أو مطعمك وتحديثه فاليك شركتنا شركة الموده لشراء غرف النوم والاجهزه المنزليه والافران المستعملة  
&nbsp;</span>
  </div>